<section id="banner">
	<div class="row">
		<div class="col-xs-12 large-photo">
			<img src="images/banner/home.jpg" class="img-responsive">
				<div class="banner-heading" style="margin-top: -125px">
					<h1 id="logo" style="margin: 0 auto;"> 
						<img src="images/logowhite.png" class="img-responsive" alt="WILL M STEVENSON PHOTOGRAPHY" style="margin: 0 auto; max-height: 250px;">
					</h1>
				</div>
		</div>
	</div>
</section>
<section>
	<div class="container"
		<div class="row">
			<div class="col-xs-12">
				<h3 class="trees">
					<span class="glyphicon glyphicon-tree-conifer"></span>        <span class="glyphicon glyphicon-tree-conifer"></span>        <span class="glyphicon glyphicon-tree-conifer"></span>
				</h3>
				<h1 class="little-tidbit">I  am  a  25 year  old  photographer  based  in  Waitsfield,  VT.   I  like  to  shoot  everything,  and  nothing  in  particular.</h1>
				<p class="biography">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
			</div>
		</div>	
	</div>	
</section>
<section>
	<div class="col-xs-12 social-media">
		<p></P>
		<p></P>
		<p></P>
		<p></P>	
	</div>
</section>	