<section id="banner">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<img ng-src="{{project.bannerSource}}" class="img-responsive">
						<div class="banner-heading">
							<h1>MT. WASHINGTON</h1>
						</div>
					</div>
				</div>	
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h3 class="trees">
							<span class="glyphicon glyphicon-tree-conifer"></span>        <span class="glyphicon glyphicon-tree-conifer"></span>        <span class="glyphicon glyphicon-tree-conifer"></span>
						</h3> 
						<h1 class="little-tidbit1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</h1>
            <section class="description-section"> 
               <div>
                  <h4 class="date-loc-cam"><strong>DATE:</strong></h4>
                    <p class="descriptors">05.05.2014</p>
                  <h4 class=date-loc-cam><strong>LOCATION:</strong></h4>
                    <p class="descriptors">North Conway, NH</p> 
                  <h4 class=date-loc-cam><strong>CAMERA:</strong></h4>
                    <p class="descriptors">5D Mark II / Nikon EM (Portra 160A)</p>
               </div> 
            </section>           
					</div>
				</div>	
			</div>	
</section>	
<section class="project-images">
	<div class="container">
		<div class="row project-images">
			<div class="col-xs-6 col-md-4">
				<div class="image-wrapper" ng-repeat="asset in assets">
						<img class="img-responsive gallery-image" ng-src="{{asset.imageUrl}}">
						<span class="hover-font">{{assset.name}}</span>
				</div>
			</div>
		</div>	
	</div>	
</section>
<section>
	<div class="col-xs-12 social-media">
		<p></P>
		<p></P>
		<p></P>
		<p></P>	
	</div>
</section>