<section id="banner">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<img src="images/banner/reservoir.jpg" class="img-responsive">
						<div class="banner-heading">
							<h1>PROJECTS</h1>
						</div>
					</div>
				</div>	
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h3 class="trees">
							<span class="glyphicon glyphicon-tree-conifer"></span>        <span class="glyphicon glyphicon-tree-conifer"></span>        <span class="glyphicon glyphicon-tree-conifer"></span>
						</h3>
						<h1 class="little-tidbit">This is a collection of projects (personal & professional) that I have been involved in over the past year and a half.</h1>
					</div>
				</div>	
			</div>	
</section>	
<section class="project-images">
	<div class="container">
		<div class="row project-images">
				<div class="col-xs-6 col-md-4">
					<a href="project_page.html" class="wrapper">
  						<img class="img-responsive gallery-image" src="images/mtwashington2.jpg">
  						<span class="hover-font">MT. WASHINGTON | NORTH CONWAY, NH </span>
					</a>
				</div>
				<div class="col-xs-6 col-md-4">
					<a href="#" class="image-wrapper">
  						<img class="img-responsive gallery-image" src="images/gloucester.jpg">
  						<span class="hover-font">LAST MINUTE SURF TRIP | GLOUCESTER, MA</span>
					</a>
				</div>
				<div class="col-xs-6 col-md-4">
					<a href="#" class="image-wrapper">
  						<img class="img-responsive gallery-image" src="images/maine.jpg">
  						<span class="hover-font">GRAHAM LAKE | ELLSWORTH, ME</span>
					</a>
				</div>
				<div class="col-xs-6 col-md-4">
					<a href="#" class="image-wrapper">
  						<img class="img-responsive gallery-image" src="images/bc.jpg">
  						<span class="hover-font">SELKIRK TANGIERS | REVELSTOKE, BC</span>
					</a>
				</div>
				<div class="col-xs-6 col-md-4">
					<a href="#" class="image-wrapper">
  						<img class="img-responsive gallery-image" src="images/publicmarket.jpg">
  						<span class="hover-font">PUBLIC MARKET & SPACE NEEDLE | SEATTLE, WA</span>
					</a>
				</div>
				<div class="col-xs-6 col-md-4">
					<a href="#" class="image-wrapper">
  						<img class="img-responsive gallery-image" src="images/camelshump.jpg">
  						<span class="hover-font">CAMEL'S HUMP | HUNTINGTON, VT</span>
					</a>
				</div>
				<div class="col-xs-6 col-md-4">
					<a href="#" class="image-wrapper">
  						<img class="img-responsive gallery-image" src="images/beautiful.jpg">
  						<span class="hover-font">THE MOST BEAUTIFUL PEOPLE I KNOW</span>
					</a>
				</div>
				<div class="col-xs-6 col-md-4">
					<a href="#" class="image-wrapper">
  						<img class="img-responsive gallery-image" src="images/derby.jpg">
  						<span class="hover-font">GREEN MTN DERBY DAMES | ESSEX, VT</span>
					</a>
				</div>
				<div class="col-xs-6 col-md-4">
					<a href="#" class="image-wrapper">
  						<img class="img-responsive gallery-image" src="images/qcdg.jpg">
  						<span class="hover-font">QUEEN CITY DRY GOODS | WINOOSKI, VT</span>
					</a>
				</div>
		</div>	
	</div>	
</section>
<section>
	<div class="col-xs-12 social-media">
		<p></P>
		<p></P>
		<p></P>
		<p></P>	
	</div>
</section>