<section id="banner">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<img src="images/banner/reservoir.jpg" class="img-responsive">
				<div class="banner-heading">
					<h1>PROJECTS</h1>
				</div>
			</div>
		</div>	
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h3 class="trees">
					<span class="glyphicon glyphicon-tree-conifer"></span>        <span class="glyphicon glyphicon-tree-conifer"></span>        <span class="glyphicon glyphicon-tree-conifer"></span>
				</h3>
				<h1 class="little-tidbit">This is a collection of projects (personal & professional) that I have been involved in over the past year and a half.</h1>
			</div>
		</div>	
	</div>	
</section>	
<section class="project-images">
	<div class="container">
		<div class="row project-images" masonry load-images="true" preserve-order="true">
			<div class="col-xs-6 col-md-4 masonry-brick" ng-repeat="project in projects">
				<a href="project_page.html" class="wrapper">
					<img class="img-responsive gallery-image" ng-src="{{project.thumbnail}}">
					<span class="hover-font">{{project.name}}</span>
				</a>
			</div>
		</div>	
	</div>	
</section>
<section>
	<div class="col-xs-12 social-media">
		<p></P>
		<p></P>
		<p></P>
		<p></P>	
	</div>
</section>