<!DOCTYPE HTML>
<html>
	<head>
		<title>PROJECTS | WILL M STEVENSON PHOTOGRAPHY</title>
		<link href="css/bootstrap.min.css" rel="stylesheet"> <link href="css/master.css" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
	</head>
	<body>
    <nav class="navbar navbar-fixed-top" role="navigation">
      <div class="container-fluid">
            <div class="navbar-header clearfix">
              <button type="button" class="navbar-toggle" ng-click="toggleCollapse()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html"><img class="img-responsive" src="images/will_logo.png" alt="WILL M STEVENSON"></a>
            </div>
            <div class="collapse navbar-collapse" id="main-nav" collapse="mobileMenuCollapsed">
              <ul class="nav navbar-nav navbar-right">
                <li class="nav-buttons"><a href="index.html" ng-click="closeMenu()">HOME</a></li>
                 <li><a href="about.html" ng-click="closeMenu()">ABOUT</a></li>
                <li><a href="projects.html" ng-click="closeMenu()">PROJECTS</a></li>
                <li><a href="contact.html" ng-click="closeMenu()">CONTACT</a></li>
                <li><a href="http://www.willmstevenson.com" ng-click="closeMenu()">BLOG</a></li>
              </ul>
            </div>
        </div>    
    </nav>
		<section id="banner">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<img src="images/banner/reservoir.jpg" class="img-responsive">
						<div class="banner-heading">
							<h1>PROJECTS</h1>
						</div>
					</div>
				</div>	
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h3 class="trees">
							<span class="glyphicon glyphicon-tree-conifer"></span>        <span class="glyphicon glyphicon-tree-conifer"></span>        <span class="glyphicon glyphicon-tree-conifer"></span>
						</h3>
						<h1 class="little-tidbit">This is a collection of projects (personal & professional) that I have been involved in over the past year and a half.</h1>
					</div>
				</div>	
			</div>	
		</section>	
		<section class="project-images">
			<div class="container">
				<div class="row project-images">
  					<div class="col-xs-6 col-md-4">
    					<a href="project_page.html" class="wrapper">
      						<img class="img-responsive gallery-image" src="images/mtwashington2.jpg">
      						<span class="hover-font">MT. WASHINGTON | NORTH CONWAY, NH </span>
    					</a>
  					</div>
  					<div class="col-xs-6 col-md-4">
    					<a href="#" class="image-wrapper">
      						<img class="img-responsive gallery-image" src="images/gloucester.jpg">
      						<span class="hover-font">LAST MINUTE SURF TRIP | GLOUCESTER, MA</span>
    					</a>
  					</div>
  					<div class="col-xs-6 col-md-4">
    					<a href="#" class="image-wrapper">
      						<img class="img-responsive gallery-image" src="images/maine.jpg">
      						<span class="hover-font">GRAHAM LAKE | ELLSWORTH, ME</span>
    					</a>
  					</div>
  					<div class="col-xs-6 col-md-4">
    					<a href="#" class="image-wrapper">
      						<img class="img-responsive gallery-image" src="images/bc.jpg">
      						<span class="hover-font">SELKIRK TANGIERS | REVELSTOKE, BC</span>
    					</a>
  					</div>
  					<div class="col-xs-6 col-md-4">
    					<a href="#" class="image-wrapper">
      						<img class="img-responsive gallery-image" src="images/publicmarket.jpg">
      						<span class="hover-font">PUBLIC MARKET & SPACE NEEDLE | SEATTLE, WA</span>
    					</a>
  					</div>
  					<div class="col-xs-6 col-md-4">
    					<a href="#" class="image-wrapper">
      						<img class="img-responsive gallery-image" src="images/camelshump.jpg">
      						<span class="hover-font">CAMEL'S HUMP | HUNTINGTON, VT</span>
    					</a>
  					</div>
  					<div class="col-xs-6 col-md-4">
    					<a href="#" class="image-wrapper">
      						<img class="img-responsive gallery-image" src="images/beautiful.jpg">
      						<span class="hover-font">THE MOST BEAUTIFUL PEOPLE I KNOW</span>
    					</a>
  					</div>
  					<div class="col-xs-6 col-md-4">
    					<a href="#" class="image-wrapper">
      						<img class="img-responsive gallery-image" src="images/derby.jpg">
      						<span class="hover-font">GREEN MTN DERBY DAMES | ESSEX, VT</span>
    					</a>
  					</div>
  					<div class="col-xs-6 col-md-4">
    					<a href="#" class="image-wrapper">
      						<img class="img-responsive gallery-image" src="images/qcdg.jpg">
      						<span class="hover-font">QUEEN CITY DRY GOODS | WINOOSKI, VT</span>
    					</a>
  					</div>
				</div>	
			</div>	
		</section>
			<div class="col-xs-12 social-media">
				<p></P>
				<p></P>
				<p></P>
				<p></P>	
			</div>
		</section>	
		<footer>
			<div class="row footer-section">
				<div class="col-xs-12">
					<p>&copy; 2014 WILL STEVENSON PHOTOGRAPHY <span class="glyphicon glyphicon-tree-conifer"></span></p>
				</div>
			</div>
		</footer>
	</body>
</html>
